/* ! override the CSS of the MDEditor editor */
.w-md-editor-text-pre > code,
.w-md-editor-text-input {
  font-size: 18px !important;
  line-height: 20px !important;
}

/* ! '.table' overrides Prism CSS syntax highlight classes causing styling issues for MD table syntax */
/* ! '.wde-mardown' overrides CSS of MDEditor preview */
.table,
.wmde-markdown {
  font-size: 18px !important;
}

/* ! deal with the layout shift caused by y-scrollbar */
html {
  overflow-y: scroll !important;
  scrollbar-width: none !important;
}

/* ! add custom shadows to ListItem 'snippet.title' */
.snippet-title-shadow-light {
  text-shadow: 
    1px 1px 2px rgba(239, 159, 188, 1),
    -1px -1px 2px rgba(101, 195, 200, 1);
}

.snippet-title-shadow-dark {
  text-shadow:
    1px 1px 8px rgba(29, 184, 142, 1),
    -1px -1px 8px rgba(30, 184, 84, 1);
  ;
}